* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.border {
    /* border: solid 1px black; */
}

.content {
    border: solid 5px gray;
    max-width: 600px;
    /* height: 600px; */
    margin: 50px auto;
    background-color: black;
}

.showValue {
    background-color: #ccc;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
}

.container {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.btn {
    width: 110px;
    height: 100px;
    background-color: rgb(0, 200, 255);
    border-radius: 4px;
}

.btn-operate {
    /* scale: 0.8; */
}